[submodule "f9dasm"]
	path = f9dasm
	url = https://github.com/Arakula/f9dasm.git
[submodule "A09"]
	path = A09
	url = https://github.com/Arakula/A09.git
[submodule "LuaJIT"]
	path = LuaJIT
	url = https://github.com/LuaJIT/LuaJIT
